.cart-page {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #fff; 
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    height: 100%;
    
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.space-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.remove-item-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: pointer;
}

.remove-item-btn:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .cart-page {
        width: 90%;
        padding: 15px;
    }

    .cart-item-image {
        width: 40px;
        height: 40px;
    }
}
